# ==============================================================================
# gitignore
# ==============================================================================


# Project Stuff
# ==============================================================================

dist/


# System Stuff
# ==============================================================================

*.DS_Store
node_modules/
*.log
